.episode-all {
  p {
    color: gray;
  }
  svg {
    width: 9px;
    transition: all 0.2s linear;
    path {
      fill: gray;
    }
  }
}

.episode-wrapper{
  margin-bottom: 150px !important;
}

.episode-all:hover svg {
  transform: translateX(8px);
  path {
    fill: white;
  }
}

.content-Episode {
  .episode-wrapper-img { 
    position: relative;
    left: 0;
    top: 0;
    width: 75%; 
    height: auto;
    .filt{
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      transition: all 0.4s;
      border-radius: 10px;
      &::before{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        content: "";
        background: linear-gradient(
           to left,
           rgba(204, 151, 84, 0.28),
           rgba(184, 130, 52, 0.28)
         );
        border-radius: 10px;
        transition: all 0.4s;
      }
    }
    .filt:hover{
      &::before{
        opacity: 1;
      }
    }
    .filt:hover{
      border-radius: 10px;
      border: 1px solid orange !important;
    }
    img {
      height: auto;
      border-radius: 10px;
      transition: all 0.5s;
    }
    // &:hover{
    //     img{
    //         border: 1px solid orange;
    //     }
    //     &::before{
    //         opacity: 1;
    //     }
    // }
  }
}


// background: linear-gradient(
//           to left,
//           rgba(204, 151, 84, 0.28),
//           rgba(184, 130, 52, 0.28)
//         );