@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Gotham Pro', 'Roboto', sans-serif;
}

.container{
  margin: auto !important;
}

.mb-bottom{
  margin-bottom: 100px !important;
}

a{
  text-decoration: none;
  color: inherit;
}

.container-v{
  max-width: 1240px;
  margin: auto !important;
}

.container-w {
  position: fixed !important;
  left: 0;
  top: 0;
  width: 100vw;
  z-index: 50 !important;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('./fonts/GothamPro-Regular.woff2') format('woff2'),
       url('./fonts/GothamPro-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}  

body {
  background-color: rgb(153, 148, 137);
  font-family: 'Gotham Pro', 'Roboto', sans-serif;
}

.video-wrapper {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  overflow: hidden;
  min-height: 100vh;
  color: #fec775;
}

.out1 {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 0;
  top: 0;
}

.playing {
  position: absolute;
  z-index: 99;
  transition: all 1.3s !important;
  cursor: pointer;
}

.videos {
  position: relative;
  left: 0;
  top: 0;
}

.nav-w {
  max-width: 1240px;
  margin: auto;
}

.lang {
  background-color: rgba(0, 0, 0, 0.502);
  &:hover p {
    color: #d5a863;
  }
}

.lang p {
  transition: all 0.3s;
}

body {
  background-color: #131313;
  height: 350vh;
}

.nav-list .nav-child {
  font-size: 15px;
  font-weight: 400;
  cursor: pointer;
  color: white;
  transition: color 0.3s, opacity 0.6s;
  text-transform: uppercase;
}

.nav-list .nav-child:hover {
  color: #d5a863;
}

.nav-list {
  list-style-type: none;
  padding: 0;
}
.dimmed {
  opacity: 0.3;
}
.hovered {
  color: #d5a863;
}

.title-Home {
  position: absolute;
  top: 28%;
  left: 150px;
  max-width: 38%;
}

.title-Home svg {
  width: 250px !important;
  height: 120px !important;
  margin-bottom: 40px;
}

.title-Home h3 {
  color: white;
  font-size: 15px;
  font-weight: 300;
}
.test-mode {
  display: flex;
  align-items: end;
  gap: 75px;
}

.test-mode p {
  font-size: 11px;
  color: rgb(172, 170, 170);
  font-weight: 400;
}

.test-mode svg{
  width: 15px;
}

.marquee-container {
  display: flex;
  align-items: center;
  white-space: nowrap;
  position: fixed;
  bottom: 0px;
  width: 100%;
  padding: 8px 0px;
  background-color: #1b1b1b;
  z-index: 98;
}

.test-mode {
  display: inline-flex;
  align-items: center;
  margin-right: 100px;
}

.test-mode svg {
  margin-right: 8px; /* Space between SVG and text */
}


.card-img{
  position: absolute;
  left: -150px;
  bottom: 10px;
  border-radius: 10px;
  transition: all 5s;
}

.sound-wrapper{
  position: relative;
  position: fixed;
  right: 30px;
  bottom: 60px;
  z-index: 99;
}

.sounds{
  font-size: 40px;
  color: #d5a863;
  cursor: pointer;
  animation: audioAnim 2s infinite;
  transition: all 1s;
}
.hover-sound{
  opacity: 0;
  transform: scale(0.6);
  position: absolute;
  top: 0;
  right: 0px;
  width: 200px;
  background-color: rgba(0, 0, 0, 0.502);
  font-size: 20px;
  font-weight: 400;
  color: #c18b39;
  padding: 5px 10px;
  text-align: center;
  border-radius: 40px;
  box-shadow: 0px 0px 2px white;
  transition: all 0.5s !important;
  z-index: -1;
}

.sounds:hover + .hover-sound{
  right: 38px;
  opacity: 1;
  transform: scale(1);
}


@keyframes audioAnim {
  10%{
    opacity: 0.7;
  }
  50%{
    filter: drop-shadow(2px 2px 5px #c18b39);
    opacity: 1;
    scale: 1.1;
  }
  100%{
    opacity: 0.7;
  }
}